.cardsContainer {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 8%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cardsContainer{
        justify-content: center;
     }
}
